.event-info__name {
  margin-bottom:20px;
}

.event-info__content {
  color: #676767;
  font-weight: 100;
}

.event-info__info {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;

  .event-info__info-icon {
    margin-right: 5px;
  }
}

.event-info__button-place {
  margin-top: 20px;
}