html, body {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background: #fafdfd;
  color: #1B2432;
}

h1, h2 {
  color: #504949;
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
  color: #3F51B5
}


.header {
  height: 60px;
  color:#2e3d49;
  font-weight:200;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:200;

  a {
    text-decoration: none;
    color: #000000;
  }

  .header__wrapper {
    margin: 0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition: 0.35s ease-out 0.05s;
  }

  .header__wrapper_short {
    margin: 0 auto;
    width: 800px;
  }

  .header__logo {
    color: #2e3d49;
    font-size: 24px;
    display: block;
    flex: 1 0 auto;
    font-weight:200;
  }

  .header-menu {
    list-style: none;
  }

  .header-menu__item {
    display: inline-block;
  }
}

.app-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: scroll;
}

.app-content_expanded {
  .map {
    width:75%;
  }

  .sidebar {
    width:25%;
  }
}

.map {
  width: 100%;
  height: 100%;
  transition: 0.35s ease-out 0.05s;
}

.marker {
  width: 30px;
  height: 36px;
  margin: -36px 0 0 -15px;
  transition: 0.35s ease-out 0s;
  position: absolute;
  cursor: pointer;
}

.marker_selected {
  width:45px;
  height:54px;
  margin: -54px 0 0 -22px;
}

.sidebar {
  position:absolute;
  width:0;
  right:0;
  top:0;
  bottom:0;
  background:#fff;
  transition: 0.35s ease-out 0.05s;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
}

.single-wrapper {
  margin: 0 auto;
  width: 800px;
  padding: 20px;
}

