.hall-container {

}

.hall-container__title {
  margin:20px 0;
  font-weight: 400;
}

.hall-map {
  width: 800px;
  height: 400px;
  background: #f5f5f5;
  position: relative;
  border-radius: 5px;
}
