.stand {
  position: absolute;
  background: #ffffff;
  box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.stand_disabled {
    background: #C5CAE9;
  }

  .stand__price {
      font-weight:100;
      font-size:14px;
  }

  .stand__button {
      display:none;
      width: 100%;
      height: 100%;
      text-align: center;
      background: #3F51B5;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
  }

  &:hover {
      border: 0;

      .stand__button {
          display:inline-block;
          flex: 1;
      }

      .stand__price {
          display: none;

      }
  }

  .stand__company {
    position: absolute;
    top: 5px;
    left: -10px;
    width: 100%;
    height: 30px;
    background :#ffffff;
    border-radius: 15px 5px 5px 15px;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .stand__company-logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    flex-basis: 30px;
  }

  .stand__company-name {
    font-size: 13px;
    font-weight: 200;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
  }
}