.form-file-field,
.form-field {
  margin-top:20px;
}

.form-file-field {
  font-weight:400;

  .form-file-field__data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .form-file-field__label {
    margin-right:10px;
    font-weight: 200;
  }

  .form-file-field__input {
    display: none;
  }

  .form-file-field__result {
    color: #8BC34A;
    font-weight: 100;
    margin-left: 10px;

    .material-icons {
      vertical-align: middle;
    }
  }

  .form-file-field__errors {
    color: #de3226;
    font-size: 12px;
  }
}